<!-- Login Form -->
<%= form_tag sessions_path, :class => 'form-signin' do %>
  <h2 class="form-signin-heading">Login</h2>
  <%= email_field_tag :email, '', :class => 'input-block-level', :placeholder => 'Email Address' %>
  <%= password_field_tag :password, '', :class => 'input-block-level', :placeholder => 'Password' %>
  <%= submit_tag "Login", :value => "Submit", :class=> "btn btn-large btn-primary"%>
<% end %>

