<div class="row">
  <div class="invert-text"><h2><strong>Ticket Checkin Confirmation:</strong></h2></div>
  <div class="span12 white-box">
    <p><strong>Thank you.  You have sucessfully checked in for your event.</strong></p>
    <div id="id-num"><p> <strong>ID Number:</strong> 123456</p></div>
  </div>
</div>
