<div class="row">
  <div class="invert-text"><h2><strong>Ticket Check-In Confirmation:</strong></h2></div>
  <div class="span12 white-box">
    <p><strong>Thank you.  You have sucessfully checked in for your event.</strong></p>
    <div id="id-num"><p> <strong>Order Number:</strong> <%= params[:id] %></p></div>
  </div>
</div>
