<div class="row">
  <div class="invert-text"><h2><strong>Ticket Purchase Confirmation:</strong></h2></div>
  <div class="span12 white-box">
    <p><strong>Thank you.  Your payment has been successfully processed.  A confirmation email will be sent to you shortly with your ticket information.</strong></p>
    <div id="id-num"><p> <strong>ID Number:</strong> 123456</p></div>
    <div id="bill-info"> <p> <strong>Recipient:</strong><br>John Smith<br>1234 Lane<br>Los Angeles, CA 90003<br>johnSmith@blah.com</p></div> 
  </div>
</div>
