/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {background-image:url("/assets/dark.png");}

.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading, 
.form-signin .checkbox {
        margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
}

form.login {
  margin: 5px 0 0 0;
  paddidng: 0px;
}

form.login input {
  background: #F5F5F5;
  margin:0 0 0 0;
}

/* TODO: needs a size tweak */
form.login > .btn {
  margin-top: -9px;
}

#logout-btn {
    background-color: transparent;
    border: none;
    float: none;
    color: #777777;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    margin-top: 7px;
}

.logout-form {
    margin: 0px;
}

#footer {
  color: #aaa;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #343434;
  background-color: #454545;
}

.page-header.invert-text {
  padding-bottom: 0px;
  border-bottom: none;
}
